<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="knitshow.fos.repository.ContentMapper">
    <resultMap id="contentMap" type="knitshow.fos.entity.ContentEntity">
        <id property="contentId" column="content_id" />
        <result property="userId" column="user_id" />
        <result property="content" column="content" />
        <result property="needleWeightId" column="needle_weight_id" />
        <result property="needleTypeId" column="needle_type_id" />
        <result property="foTypeId" column="fo_type_id" />
    </resultMap>
    <resultMap id="contentRespMap" type="knitshow.fos.entity.ContentRespDtoEntity">
        <id property="contentId" column="content_id" />
        <result property="nickname" column="nickname" />
        <result property="content" column="content" />
        <result property="needleSize" column="needle_size" />
        <result property="needleTypeName" column="needle_type_name" />
        <result property="foTypeName" column="fo_type_name" />
    </resultMap>

    <insert id="insertContent" parameterType="knitshow.fos.entity.ContentEntity">
        insert into content_tb
        values (0, #{userId}, #{content}, #{needleWeightId}, #{needleTypeId}, #{foTypeId})
    </insert>
    <insert id="insertImage" parameterType="knitshow.fos.entity.ImageEntity">
        insert into image_tb
        values(0, #{contentId}, #{imageUrl})
    </insert>
    <select id="getContentList" resultMap="contentRespMap">
        SELECT
            content_id,
            nickname,
            content,
            needle_type_name,
            needle_size,
            fo_type_name
        FROM
            content_tb ct
            left outer join user_tb ut on(ct.user_id = ut.user_id)
            left outer join needle_size_tb nst on(ct.needle_weight_id = nst.needle_size_id)
            left outer join needle_type_tb ntt on(ct.needle_type_id = ntt.needle_type_id)
            left outer join fo_type_tb ftt on(ct.fo_type_id = ftt.fo_type_id);
    </select>
    <select id="getFoTypeList" resultType="java.lang.String">
        SELECT
            fo_type_name
        FROM
            fo_type_tb
    </select>
    <select id="getTypeList" resultType="java.lang.String">
        SELECT
            needle_type_name
        FROM
            needle_type_tb
    </select>
    <select id="getWeightList" resultType="java.lang.String">
        SELECT
            needle_size
        FROM
            needle_size_tb
    </select>

</mapper>